// @import .scss => styles
div(className='{styles.root}')
  Select(key='{key}',
    __jsx='{...props}',
    isMulti='{isMulti}',
    isDisabled='{isDisabled}',
    value='{value}',
    styles='{customStyles}')
